/* Media para telas de smartphones */
@media (max-width: 576px) {

    .container-cadastramento{
        gap: 5.32rem;
    }

    .cadastramento-titulo span{
        font-size: 1.3rem;
        margin-left: 15rem;

    }   
    
    .container-img {
        width: 15rem;
        height: 9rem;
    }

    .form_container {
        width: 25rem;
        padding: 3.5rem;
        
    }

}

/* Media para telas de Tablets */
@media (min-width: 768px) {


    .container-cadastramento{
        gap: 10rem;
    }

    .cadastramento-titulo span{
        font-size: 2rem;
        margin-left: 2.5rem;

    }   
    
    .container-img {
        width: 15rem;
        height: 15rem;
    }

    .form_container {
        width: 30rem;
        padding: 2rem;
        
    }

}

/* Media para telas de Tablets */
@media (min-width: 1200px) {


    .container-cadastramento{
        gap: 25rem;
    }

    .cadastramento-titulo span{
        font-size: 3rem;
    }   
    
    .container-img {
        height: 15rem;
    }

    .form_container {
        width: 35rem;
    }

}

/* Media para tela do tamanho Desktop */
@media (min-width: 1440px){

    .container-cadastramento{
        gap: 35rem;
    }

    .cadastramento-titulo span{
        font-size: 3.5rem;
    }   
    
    .container-img {
        height: 22.5rem;
        margin-right: 15rem;
    }

    .form_container {
        width: 40rem;
    }

}