/* Media de telas para smartphones */
@media (max-width: 576px){
    
    .inicio-bem-vindo {
        height: 20rem;
        width: 18rem;
        margin-top: 45rem;
    }

    .login-prompt{
        height: 22rem;
        width: 18rem;
        margin-bottom: 3rem;
    }

    .inicio-bem-vindo h2 {
        margin-top: 1rem;
        font-size: 1.1rem;
    }

    .login-prompt h3 {
        margin-top: 1rem;
        font-size: 1.2rem;
    }


    .connect-box{
        margin-top: 20rem;
        padding: 2rem;
        width: 18rem;
        height: 17rem;
    }

    .connect-box h2{
        margin-bottom: 1rem;
        font-size: 1.3rem;
    }

    .register-box{
        margin-top: 30rem;
        padding: 2rem;
        width: 18rem;
        height: 31rem;
        margin-bottom: 2.5rem;
    }
}


/* Media de telas para smartphones */
@media (min-width: 600px) {

     /* ************************* Estilização dos cards de boas vindas e de cadastro ************************ */

     .inicio-bem-vindo {
        height: 21rem;
        width: 20rem;
        margin-top: 32rem;
    }

    .login-prompt{
        height: 21rem;
        width: 20rem;
        margin-bottom: 3rem;
    }

    .signup-btn, .login-btn {
        padding: 1rem 2rem;
        height: 4.5rem;
        width: 80%;
    }

    .inicio-bem-vindo h2 {
        margin-top: 1rem;
        font-size: 1.3rem;
    }

    .login-prompt h3 {
        margin-top: 1rem;
        font-size: 1.3rem;
    }
    
    .logo-image {
        width: 12rem; 
    }

    .connect-box{
        margin-top: 20rem;
        padding: 3rem;
        width: 20rem;
        height: 20rem;
    }

    .register-box{
        margin-top: 3rem;
    }

    .connect-box h2{
        margin-bottom: 1rem;
        font-size: 1.5rem;
    }

    .connect-box p{
        font-size: 1rem;
    }

    .register-box{
        margin-top: 25rem;
        padding: 3rem;
        width: 20rem;
        height: 34rem;
        margin-bottom: 2.5rem;
    }

    .register-box h2{
        font-size: 1.5rem;
    }

}

/* Media de telas para Tablets */
@media (min-width: 768px) {

     /* ************************* Estilização dos cards de boas vindas e de cadastro ************************ */

     .inicio-bem-vindo {
        height: 21rem;
        width: 21rem;
        margin-top: 22rem;
    }

    .login-prompt{
        height: 21rem;
        width: 20rem;
        margin-bottom: 3rem;
    }

    .signup-btn, .login-btn {
        padding: 1rem 2rem;
        height: 4.5rem;
        width: 80%;
    }

    .inicio-bem-vindo h2 {
        margin-top: 1rem;
        font-size: 1.4rem;
    }

    .login-prompt h3 {
        margin-top: 1rem;
        font-size: 1.3rem;
    }
    
    .logo-image {
        width: 13rem; 
    }

    .connect-box{
        margin-top: 20rem;
        padding: 3rem;
        width: 20rem;
        height: 20rem;
    }

    .register-box{
        margin-top: 3rem;
    }

    .connect-box h2{
        margin-bottom: 1rem;
        font-size: 1.5rem;
    }

    .connect-box p{
        font-size: 1rem;
    }

    .register-box{
        margin-top: 25rem;
        padding: 3rem;
        width: 20rem;
        height: 34rem;
        margin-bottom: 2.5rem;
    }

    .register-box h2{
        font-size: 1.5rem;
    }

}