@media (max-width: 576px){

    .titulomensagem h2{
        margin-top: 1.5rem;
        margin-bottom: 3rem;
        font-size: 2rem;  
        text-align: center;
    }


    input {
        display: flex;
        margin-left: 2rem;
        width: 80%;
        margin-bottom: 1rem;
    }


    button[type="submit"] {
        width: 50%;
        margin-left:5rem;
    }


}