/* Media de telas para smartphones */
@media (max-width: 576px){

    .titulo-destaque .part1{
        font-size: 3.5rem;
        margin-left: 1.3rem;
    }

    .titulo-destaque .part2{
        font-size: 3.5rem;
    }

    .shape {
        height: 2.5rem;
        width: 2.5rem;
        z-index: 0;
        margin-left: 0.2rem;
    }

    .titulo-destaque .partG {
        font-size: 3.5rem;
        opacity: 0.7;
        margin-left: 0.2rem;
        z-index: 0;
    }

    .container-grid{
        width: 8rem;
        height: 10rem;
    }

    .container-cards{
        height: 100vh;
        width: 100vw;
        gap: 1; 
    }

    .c-galeria{
        grid-template-columns: repeat(2, 2fr);
        width: 100%;
        grid-auto-rows: 180px;
        grid-column-gap: 2rem;
        grid-row-gap: 4.5rem;
        margin-bottom: 6rem;
        margin-right: 12rem;
        margin-left: 2rem;
    }

    .servicos{
        /*LARGURA DO CARD.*/
        width: 75%;
        /*COR DE FUNDO DO CARD*/
        height: 100%;
    }

    .servicos img{
        width: 100%;
        /*ALTURA AUTOMATICA DA IMAGEM*/
        height: 11rem;
    }

    .container-mensagem_professor{
        height: 25rem;
        width: 20rem;
        justify-content: flex-start;
        margin-left: 2.5rem;
    }

    .titulomensagem-prof h2{
        margin-top: 13rem;
        font-size: 1.8rem;
        text-align: center;
    }

    .mensagem p{
        font-size: 1rem;
        text-align: center;
    }

    .mensagem{
        width: 78vw;
        height: 36vh;
        margin-top: 4rem;
        margin-bottom: 8rem;
        border-radius: 2rem;
    }

    .btn-excluir {
        padding: 0.5rem;
        border-radius: 1rem;
        width: 10rem;
        font-size: 0.7rem;
    }

}

/* Media de telas para Tablets */
@media (min-width: 768px) {

    .titulo-destaque .part1{
        font-size: 9rem;
        margin-left: 2rem;
    }

    .titulo-destaque .part2{
        font-size: 9rem;
    }

    .shape {
        height: 6.5rem;
        width: 6.5rem;
        margin-left: 0.2rem;
    }

    .titulo-destaque .partG {
        font-size: 9rem;
        opacity: 0.7;
        margin-left: 0.2rem;
        z-index: 0;
    }

    .container-cadastramento{
        gap: 20rem;
    }

    .cadastramento-titulo span{
        font-size: 2.5rem;
        margin-left: 10rem;

    }   

    .c-galeria{
      
        margin-top: 4rem;
        margin-right: 10rem;
        grid-row-gap: 7rem;
        grid-column-gap: 7rem;
        margin-right: 14rem;
        margin-left: 2rem;
    }

    .servicos{
        /*LARGURA DO CARD.*/
        width: 100%;
        /*COR DE FUNDO DO CARD*/
        height: 116.5%;
    }

    .servicos img{
        height: 14rem;
    }
    
    .container-img {
        width: 10rem;
        height: 20rem;
    }


    .titulomensagem-prof h2{
        margin-top: 1rem;
        font-size: rem;
        text-align: center;
    }

    .container-mensagem_professor{
        height: 25vh;
        width: 60vw;
        margin-left: 10rem;
    }

    .mensagem p{
        font-size: 1.7rem;
    }

    .mensagem{
        width: 60vw;
        height: 25vh;
        margin-top: 25rem;
        margin-bottom: 20rem;
        border-radius: 2rem;
    }

    .btn-excluir {
        padding: 0.5rem;
        border-radius: 1rem;
        width: 10rem;
        font-size: 0.7rem;
    }



}

@media (min-width: 1200px){

    .titulo-destaque .part1{
        font-size: 14rem;
        margin-left: 7rem;
    }

    .titulo-destaque .part2{
        font-size: 14rem;
    }

    .shape {
        height: 10rem;
        width: 10rem;
        margin-left: 0.2rem;
    }

    .titulo-destaque .partG {
        font-size: 14rem;
        opacity: 0.7;
        margin-left: 0.2rem;
        z-index: 0;
    }

    .container-cadastramento{
        gap: 20rem;
    }

    .cadastramento-titulo span{
        font-size: 2.5rem;
        margin-left: 10rem;

    }   

    .servicos{
        /*LARGURA DO CARD.*/
        width: 100%;
        /*COR DE FUNDO DO CARD*/
        height: 100%;
    }

    .titulomensagem-prof h2{
        margin-top: 1rem;
        font-size: rem;
        text-align: center;
    }

    .container-mensagem_professor{
        margin-left: 16.5rem;
        margin-top: 5rem;
    }

    .mensagem p{
        font-size: 2rem;
    }

    .mensagem{
        width: 50vw;
        height: 30vh;
        margin-top: 5rem;
        margin-bottom: 5rem;
        border-radius: 2rem;
    }

    .btn-excluir {
        padding: 1rem;
        border-radius: 1rem;
        width: 14rem;
        font-size: 1rem;
    }

}

@media (min-width: 1440px){
      
    .titulo-destaque .part1{
        font-size: 19.5rem;
        margin-left: 2rem;
    }

    .titulo-destaque .part2{
        font-size: 19.5rem;
    }

    .shape {
        height: 13rem;
        width: 13rem;
        margin-left: 0.2rem;
    }

    .titulo-destaque .partG {
        font-size: 19.5rem;
        opacity: 0.7;
        margin-left: 0.2rem;
        z-index: 0;
    }

    .servicos{
        /*LARGURA DO CARD.*/
        width: 100%;
        /*COR DE FUNDO DO CARD*/
        height: 100%;
    }

    .container-mensagem_professor{
        height: 30rem;
        width: 40rem;
        margin-left: 2rem;
    }
    
    .mensagem p{
        font-size: 1.6rem;
        padding: 2rem;
    }
    
    .mensagem{
        width:  40rem;
        height: 20rem;
        margin-top: 2rem;
        margin-bottom: 10rem;
        margin-left: 52rem;
    }
}

