body, html {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

.container-geral {
  background: linear-gradient(#f4f4f4, #f4f4f4, #004aad, #000000);
}

.container-principal {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  height: 100vh;
  text-align: center;
}

.titulo-destaque {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.titulo-destaque .part1 {
  font-size: 3.5rem;
  color: #6a00c2;
  margin-right: 5px;
  opacity: 0.7;
}

.titulo-destaque .part2 {
  font-size: 3.5rem;
  color: #0071c2;
}

.container-grid {
  width: 300px;
  height: 260px;
  background: linear-gradient(to bottom right, #a77aff, #65a3ff);
  filter: blur(3rem);
  margin-bottom: 5rem;
  border-radius: 2.5rem;
}

.container-cards {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.5rem;
  overflow: hidden;
}


.container-carrossel{
  display: flex;
  max-width: 80%;
  margin: 5rem auto;
  position: relative;
  overflow: hidden;
  gap: 0.5rem;
}

.carrossel{
    text-align: center;
    color: #fff;
    position: relative;
    /*NÃO DEIXA O CARD FICAR VISIVEL SE O MESMO FICAR MAIOR QUE O PAI*/
    overflow: hidden;
    display: flex;
    /*MARGEM EXTERNA*/
    margin: 0.5rem;
    /*FLUTUAR*/
    float: left;
    /*LARGURA DO CARD.*/
    width: 25%;
    /*COR DE FUNDO DO CARD*/
    height: 100%;
    background-color:#5b9a86;
    /*COR DA FONTE*/
    color: black;
    /*CENTRALIZA O TEXTO*/
    border-radius: 1rem;
    /*SUAVIZAR EFEITO DA TRANSIÇÃO*/
    transition: transform 0.5s;
    flex-direction: column;
}

.carrossel img{
  width: 500px;  /* Largura fixa */
  height: 500px; /* Altura fixa */
  overflow: hidden; /* Oculta partes das imagens que excedem o contêiner */
  border-radius: 0.18rem ;
  filter: brightness(80%);/*DEIXA A IMAGEM MAIS ESCURA, MAIS CINZA*/
}

.descricao{
  position: absolute;
  /*DEIXA A DESCRICAO ABAIXO DA IMAGEM*/
  top:100%; 
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  transition: top 0.3s;
  text-align: center;
  font-size: 1rem;
  padding-top: 9rem;
}

.carrossel:hover .descricao{
   /*FAZ IR PARA O TOPO QUANDO O MOUSE PASSAR EM CIMA*/
   top: 0;
   background-color:  rgba(30, 136, 228, 0.292);
   border: 0.18rem solid  rgb(55, 0, 255);
   /*AUMENTAR O TAMANHO DA IMAGEM*/
   transform: scale(1.1);
}

.descricao h2{
  font-family: 'Courier New', Courier, monospace;
  /*DEFINE O TAMANHO DA FONTE*/
  font-size: 1.5rem;
  color: white;
  margin: 3rem;
}

.descricao a{
  color: white;
}


.anterior,
.próximo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: transparent;
  font-size: 24px;
  color: #ffffff;
  cursor: pointer;
}

.anterior {
  left: 0;
}

.próximo {
  right: 0;
}



