<!-- EXTENDENDO O CSS DA PAGINA PRINCIPAL (LAYOUT) -->
{% block css %}
<link rel="stylesheet" href="/static/styles/media/layout-media.css">
<link rel="stylesheet" href="/static/styles/cadastramento.css">
<link rel="stylesheet" href="/static/styles/media/cadastramento-media.css">
<link rel="stylesheet" href="/static/styles/variaveis.css">
{% endblock %}

{% extends "layout.html" %}
{% block conteudo %}


    <!-- LINK PARA O JAVASCRIPT(FUNCIONALIDADE)   -->
    <script src="/static/js/cadastramento.js" defer></script>


    <section class="geral-cadastramento">

        <section class="container-cadastramento">

            <div class="cadastramento-titulo">
                <span class="cadastramento1">PROCESSO DE </span>
                <span class="cadastramento2">CADASTRAMENTO</span>
            </div>

            <div class="container-img"></div>
        </section>


        <section class="formulario">

            <div class="form_container">
               
                <form action="/cadastramento" method="POST">
                    <!-- Campo "Descrição Técnica" -->
                    <textarea placeholder="Descrição Técnica" class="textarea-field" name="descricao"></textarea>

                    <input list="browsers" name="modelo" placeholder="Modelo do Produto" class="input-field">
                    <datalist id="browsers">
                        <option value="Infantil"></option>
                        <option value="Adulto"></option>
                        <option value="Íntima"></option>
                        <option value="Esportiva"></option>
                    </datalist>

                    <!-- Campo "Fabricante" -->
                    <input type="text" placeholder="Fabricante" class="input-field" name="fabricante">

                    <!-- Campo "Código do produto" -->
                    <input type="number" placeholder="Código do Produto" class="input-field" name="codigo">

                    <!-- Campo "Responsável pelo Recebimento" -->
                    <input type="number" placeholder="Número de Lote" class="input-field" name="numeroLote">

                    <!-- Campo "Responsável pelo Recebimento" -->
                    <input type="text" placeholder="Endereçamento" class="input-field" name="enderecamento">

                    <!-- Botão de Enviar -->
                    <button class="submit-btn">Enviar</button>
                </form>

            </div>

        </section>
        
</section>
    
       
    


{% endblock %}