<!-- EXTENDENDO O CSS DA PAGINA PRINCIPAL (LAYOUT) -->
{% block css %}
<link rel="stylesheet" href="/static/styles/expedicao.css">
<link rel="stylesheet" href="/static/styles/media/layout-media.css">
<link rel="stylesheet" href="/static/styles/variaveis.css">

{% endblock %}

{% extends "layout.html" %}
{% block conteudo %}


    <!-- LINK PARA O JAVASCRIPT(FUNCIONALIDADE)   -->
    <script src="/static/js/cadastramento.js" defer></script>

<!-- Section 01. 
    Essa Section possui um espaço para imagem (cor solicitada pelo cliente) e nome da matéria. -->
    <section class="geral-cadastramento">
        <section class="container-cadastramento">
            <div class="cadastramento-titulo">
                <span class="cadastramento1"> Cadastro de Expedição </span>
            </div>
            <div class="container-img"></div>
        </section>

        <section class="container-tabela">
            <h1>Produtos Cadastrados</h1>
            <table>
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Descrição</th>
                        <th>Modelo</th>
                        <th>Fabricante</th>
                        <th>Número do Lote</th>
                        <th>Endereçamento</th>
                    </tr>
                </thead>
                <tbody>
                    {% for produto in lista_produtos %}
                    <tr>
                        <td>{{produto['codigo']}}</td>
                        <td>{{produto['descricao']}}</td>
                        <td>{{produto['modelo']}}</td>
                        <td>{{produto['fabricante']}}</td>
                        <td>{{produto['numero_lote']}}</td>
                        <td>{{produto['enderecamento']}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
    
    <!-- Section 02. Formulário de Cadastro de Expedição
    Section que contém o formulário composto por inputs. Foi utilizado "text" para dados escritos e "date" para datas. Na descrição técnica, optamos por textarea
    porque facilita a inserção de textos extensos. -->
        <section class="formulario">
            <div class="form_container">
                <form action="/estoque" method="POST">

                    <input type="text" placeholder="Código do Produto:" class="input-field" name="cod_prod">

                    <span class="cadastramentoD"> Data da Embalagem: </span>
                    <input type="date" placeholder="Data de Saída:" class="input-field" name="data_saida">

                    <input type="text" placeholder="Número do Lote:" class="input-field" name="num_lote">

                    <input type="text" placeholder="Responsável pela embalagem:" class="input-field" name="responsavel">

                    <input type="number" placeholder="Quantidade" class="input-field" name="quantidade">

                    <textarea placeholder="Descrição Técnica:" class="textarea-field" name="descricao_tec"></textarea>
                
                    <!-- Botão para enviar os dados para o Banco de Dados -->
                    <button class="submit-btn">Enviar</button>
    
                </form>
            </div>
        </section>

    </section>

    {% endblock %}