<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LogClass</title>
    <!-- importando o arquivo css da página -->
    <link rel="stylesheet" href="/static/styles/layout.css">
    <link rel="stylesheet" href="/static/styles/media/layout-media.css">
    <link rel="stylesheet" href="/static/styles/variaveis.css">

    <script src="https://kit.fontawesome.com/cbfeaec436.js" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap" rel="stylesheet">

    <script src="/static/js/menu.js" defer></script>
    <script src="/static/js/light&dark.js" defer></script>

    {% block css %}
    {% endblock %}

    <!-- Importando os ícones do bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body class="theme-container">

    <!-- Início do Cabeçalho -->
    <header class="sidebar">

        <!-- Início da Seção do cabeçalho -->
        <section class="header-container">

            <!-- Imagem e logo da empresa -->
            <figure>
                <a href="/"><img src="/static/img/Blue Modern Shipping Package Box Logo.svg" alt="logo"></a>
                <!-- <figcaption>Logo da LogClass</figcaption> -->
            </figure>

            <button class="button-container" id="toggle-theme"><i class="fa-regular fa-lightbulb"></i></button>

            <!-- Início da navegação principal -->
            <nav>
                <!-- Início do menu dropdown -->
                <div class="dropdown">
                    <button onclick="myFunction()" class="dropbtn">Menu</button>
                    <div id="myDropdown" class="dropdown-content">
                        <div class="dropdown-menu">
                            <div class="card">
                                <a href="/"><i class="fas fa-home"></i> Home</a>
                            </div>

                            <div class="card">
                                <a href="/login"><i class="fa-solid fa-users"></i> Conecte-se</a>
                            </div>

                            <div class="card">
                                <a href="/cadastramento">Cadastramento</a>
                            </div>
                            {% if "usuario_logado" in session %}
                            <div class="card">
                                <a href="/rnc">RNC</a>
                            </div>

                            <div class="card">
                                <a href="/picking">Cadastro de Picking</a>
                            </div>

                            <div class="card">
                                <a href="/estoque">Controle de Estoque</a>
                            </div>

                            <div class="card">
                                <a href="/pop">POP</a>
                            </div>

                            <div class="card">
                                <a href="/expedicao">Cadastro de Expedição</a>
                            </div>
                            {% endif %}

                            {% if "professor_logado" in session %}
                                <div class="card">
                                    <a href="/criarBD">Criar Banco de Dados</a>
                                </div>
                                <div class="card">
                                    <a href="/enviar_mensagem">Enviar Mensagem</a>
                                </div>
                                <div class="card">
                                    <a href="/professor/listarBD">Gerenciar Banco de Dados</a>
                                </div>
                            {% endif %}
                        </div>
                  </div>
                </div>
                <!-- Fim do menu dropdown -->
            </nav>
            <!-- Fim da navegação principal -->

        </section>
        <!-- Fim da Seção do cabeçalho -->

    </header>
    <!-- Fim do Cabeçalho -->

    <!-- Bloco de conteúdo dinâmico -->
    {% block conteudo %}
    {% endblock %}
    
    <!-- Início do rodapé -->
    <footer>
        <p>&copy; 2024 LogClass Sistema Educacional</p>
    </footer>
    <!-- Fim do rodapé -->

    <script src="/static/js/lightdark.js"></script> <!-- Adicionando o script do tema aqui -->
</body>
</html>