<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LogClass</title>
     <!-- importando o arquivo css da página -->
     <link rel="stylesheet" href="/static/styles/layout.css">
     <link rel="stylesheet" href="/static//menu-home/menu-home.css">
     <link rel="stylesheet" href="/static/styles/media/menu-home-media.css">
     <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap" rel="stylesheet">


    <script src="/static/js/menu.js" defer></script>

    {% block css %}
    {% endblock %}

    <!-- Importando os ícones do bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>

    <!-- Início do Cabeçalho -->
    <header>

        <!-- Início da Seção do cabeçalho -->
        <section class="header-container">

            <!-- Imagem e logo da empresa -->
            <figure>
                <a href="/"><img src="/static/img/Blue Modern Shipping Package Box Logo.svg" alt="logo"></a>
                <!-- <figcaption>Logo da LogClass</figcaption> -->
            </figure>
    
            <!-- Início da navegação principal -->
            <nav>
                <!-- Início do menu dropdown -->
                <div class="dropdown">
                    <button onclick="myFunction()" class="dropbtn">Menu</button>
                    <div id="myDropdown" class="dropdown-content">
                      <a href="/">Home</a>
                      <a href="/login">Conecte-se</a>
                      <a href="/cadastramento">Cadastramento</a>
                      <a href="/rnc">RNC</a>
                      <a href="/picking">Cadastro de Picking</a>
                      <a href="/estoque">Controle de Estoque</a>
                      <a href="/pop">POP</a>
                      <a href="/expedicao">Cadastro de Expedição</a>
                    </div>
                  </div>
                <!-- Fim do menu dropdown -->
            </nav>
            <!-- Fim da navegação principal -->

        </section>
        <!-- Fim da Seção do cabeçalho -->

    </header>
    <!-- Fim do Cabeçalho -->

    <!-- Bloco de conteúdo dinâmico -->
    {% block conteudo %}
    {% endblock %}
    
    <!-- Início do rodapé -->
    <footer>
        <p>&copy; 2024 LogClass Sistema Educacional</p>
    </footer>
    <!-- Fim do rodapé -->

</body>
</html>