<link rel="stylesheet" href="/static/styles/login.css">
<link rel="stylesheet" href="/static/styles/media/login-media.css">
<link rel="stylesheet" href="/static/styles/variaveis.css">


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>



<!-- Seção de login -->
<div class="container-bem-vindo" id="login-section" style="display: none;">
    <div class="connect-box" id="connect-login">
        <h2>CONECTE-SE</h2>
        <p>Selecione seu tipo de conta.</p>
        <button class="account-type" id="aluno-login-btn">ALUNO</button>
        <button class="account-type" id="professor-login-btn">PROFESSOR</button>
    </div>
    
    
        <div class="login-box" id="login-aluno">
            <h2>Login do Aluno</h2>
            <form action="/login" method="POST">
                <input type="hidden" value="LoginAluno" name="tipo">
                <input type="email" placeholder="E-mail" required name="email">
                <input type="password" placeholder="Senha" required name="senha">
                <input list="browsers" name="turma" placeholder="Turma">
                <datalist id="browsers">
                {% for nomeBD in lista_nomes %}
                <option value="{{nomeBD['database']}}">{{nomeBD['database']}}</option>
                {% endfor %}
                </datalist>
                <button type="submit">IR</button>
                <a href="#" id="voltar-login" class="voltar-btn">VOLTAR</a>
            </form>
        </div>

    <div class="login-box" id="login-professor">
        <h2>Login do Professor</h2>
        <form action="/login" method="POST">
            <input type="hidden" value="LoginProfessor" name="tipo">
            <input type="email" placeholder="E-mail" required name="email">
            <input type="password" placeholder="Código de Acesso" required name="senha">
            <button type="submit">IR</button>
            <a href="#" id="voltar-login" class="voltar-btn">VOLTAR</a>
        </form>
    </div>
</div>



<script src="/static/js/login.js"></script>
<script >
    {% with messages = get_flashed_messages() %}
        {% for mensagem in messages %}
            {{ mensagem|safe }}
        {% endfor %}
    {% endwith %}
</script>

