{% extends "layout.html" %}
{% block css %}
<link rel="stylesheet" href="/static/styles/login.css">
<link rel="stylesheet" href="/static/styles/variaveis.css">
{% endblock %}


{% block conteudo %}

<div class="container-bem-vindo" id="intro-section">
    <div class="inicio-bem-vindo">
        <h2 id="logo-h2">BEM-VINDO AO LOG CLASS</h2>
        <figure>
            <img src="/static/img/logo.png" alt="Logo" class="logo-image">
        </figure>
    </div>

    <div class="login-prompt">
        <h3 class="login-question">Ainda não possui cadastro?</h3>
        <button class="signup-btn" id="signup-btn">CADASTRE-SE AQUI!</button>
        <button class="login-btn" id="login-btn">IR PARA LOGIN</button>
    </div>
</div>

<div class="container-bem-vindo" id="register-section" style="display: none;">
    <div class="connect-box">
        <h2>CONECTE-SE</h2>
        <p>Selecione seu tipo de conta.</p>
        <button class="account-type" id="aluno-register-btn">ALUNO</button>
        <button class="account-type" id="professor-register-btn">PROFESSOR</button>
    </div>

    <div class="register-box" id="register-aluno" style="display: none;">
        <h2>Cadastro do Aluno</h2>
        <form>
            <input type="text" placeholder="Nome Completo" required>
            <input type="email" placeholder="E-mail" required>
            <input type="password" placeholder="Senha" required>
            <input list="browsers" name="turma" placeholder="Turma">
            <datalist id="browsers">
            <option value="turma1"></option>
            <option value="turma2"></option>
            <option value="turma3"></option>
        </datalist>
            <button type="submit">IR</button>
            <a href="#" id="voltar-register" class="voltar-btn">VOLTAR</a>
        </form>
    </div>

    <div class="register-box" id="register-professor" style="display: none;">
        <h2>Cadastro do Professor</h2>
        <form>
            <input type="text" placeholder="Nome Completo" required>
            <input type="email" placeholder="E-mail" required>
            <input type="password" placeholder="Código de Acesso" required>
            <button type="submit">IR</button>
            <a href="#" id="voltar-register" class="voltar-btn">VOLTAR</a>
        </form>
    </div>
</div>

<!-- Seção de login -->
<div class="container-bem-vindo" id="login-section" style="display: none;">
    <div class="connect-box" id="connect-login">
        <h2>CONECTE-SE</h2>
        <p>Selecione seu tipo de conta.</p>
        <button class="account-type" id="aluno-login-btn">ALUNO</button>
        <button class="account-type" id="professor-login-btn">PROFESSOR</button>
    </div>
    
    <div class="login-box" id="login-aluno" style="display: none;">
        <h2>Login do Aluno</h2>
        <form>
            <input type="email" placeholder="E-mail" required>
            <input type="password" placeholder="Senha" required>
            <button type="submit">IR</button>
            <a href="#" id="voltar-login" class="voltar-btn">VOLTAR</a>
        </form>
    </div>

    <div class="login-box" id="login-professor" style="display: none;">
        <h2>Login do Professor</h2>
        <form>
            <input type="email" placeholder="E-mail" required>
            <input type="password" placeholder="Código de Acesso" required>
            <button type="submit">IR</button>
            <a href="#" id="voltar-login" class="voltar-btn">VOLTAR</a>
        </form>
    </div>
</div>

<script src="/static/js/login.js"></script>

{% endblock %}