{% extends "layout.html" %}
{% block css %}
<link rel="stylesheet" href="/static/styles/mensagem.css">
<link rel="stylesheet" href="/static/styles/media/mensagem-media.css">
<link rel="stylesheet" href="/static/styles/media/layout-media.css">
<link rel="stylesheet" href="/static/styles/variaveis.css">


{% block conteudo %}


{% endblock %}


<!-- Início da seção de mensagem do professor -->
<div class="container-mensagem_professor">
    <div class="titulomensagem">
        <h2>Envie uma mensagem para seus alunos</h2>
    </div>
    <div class="mensagem">
        <form action="/enviar_mensagem" method="POST">
            <input list="browsers" name="turma" placeholder="Turma">
            <datalist id="browsers">
            {% for nomeBD in lista_nomes %}
            <option value="{{nomeBD['database']}}">{{nomeBD['database']}}</option>
            {% endfor %}
            </datalist>
            <!-- Campo para escrever a mensagem para os alunos -->
            <textarea placeholder="Mensagem do Professor" class="textarea-mensagem" name="mensagem" type="text"></textarea>
            <button type="submit">ENVIAR</button>
        </form>        
    </div>

    <!-- Exibição das mensagens com opção de exclusão para o professor -->
    <div class="container-mensagens-enviadas">

        <table>
            <thead>
                <tr>
                    <th>Turma</th>
                    <th>Mensagem</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                {% for mensagem in lista_mensagens %}
                <tr>
                    <td><small>{{ mensagem['turma'] }}</small> <!-- Exibe a turma da mensagem --></td>
                    <td>{{ mensagem['mensagem'] }}</td>
                    <td>
                        <form action="/excluir_mensagem" method="POST" style="display:inline;">
                            <input type="hidden" name="mensagem_id" value="{{ mensagem['cod_mensagem'] }}">
                            <button type="submit" class="btn-excluir">EXCLUIR MENSAGEM</button>
                        </form> 
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<!-- Fim da seção de mensagem do professor -->

{% endblock %}