<!-- EXTENDENDO O CSS DA PAGINA PRINCIPAL (LAYOUT) -->
{% block css %}
    
<link rel="stylesheet" href="/static/styles/pagina-inicial.css">
<link rel="stylesheet" href="/static/styles/media/pagina-inicial-media.css">
<link rel="stylesheet" href="/static/styles/variaveis.css">

<script src="https://unpkg.com/scrollreveal" defer></script>
<script src="/static/js/pagina-inicial.js" defer></script>
<script src="/static/js/light&dark.js" defer></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Unlock&display=swap" rel="stylesheet">
    
    
{% endblock %}

{% extends "layout.html" %}
{% block conteudo %}

<!-- Início da seção geral -->
<section class="container-geral">

    <!-- Início da seção principal -->
    <div class="container-principal">

        <!-- Título da página -->
        <div class="titulo-destaque">
            <span class="part1">L</span>
            <div class="container">
                <div class="shape"></div>
            </div>
            <span class="partG">G</span>
            <span class="part2">CLASS</span>
        </div>

        

        <div class="container-grid"></div>
    
    </div>
    <!-- Fim da seção principal -->
    
    <!-- Início da seção de cards -->
    <div class="container-cards">
        <div class="c-galeria">

            <!-- Card: Processo de cadastramento -->
            <div class="servicos" id="servicos">
                <figure><img src="/static/img/caixas.png" alt="Processo de cadastramento"></figure>
                <a href="/cadastramento">
                <div class="descricao">
                    <img src="/static/img/caixa_cad.png" alt="">
                </div>
                </a>
            </div>

            {% if "usuario_logado" in session %}
                <div class="servicos" id="servicos" >
                    <figure><img src="/static/img/caixas.png" alt="Não conformidade"></figure>
                    <a href="/rnc">
                    <div class="descricao">
                        <img src="/static/img/rnc.png" alt="">
                    </div>
                    </a>
                </div>


                <div class="servicos" id="servicos">
                    <figure><img src="/static/img/caixas.png" alt="Picking"></figure>
                    <a href="/picking">
                    <div class="descricao">
                        <img src="/static/img/picking.png" alt="">
                    </div>
                    </a>
                </div>
                
        
                <div class="servicos" id="servicos">
                    <figure><img src="/static/img/caixas.png"></figure>
                    <a href="/estoque">
                    <div class="descricao">
                        <img src="/static/img/estoque.png" alt="">
                    </div>
                    </a>
                </div>

                <div class="servicos" id="servicos">
                    <figure><img src="/static/img/caixas.png" alt="pop"></figure>
                    <a href="/pop">
                    <div class="descricao">
                        <img src="/static/img/pop.png" alt="">
                    </div>
                    </a>
                </div>

                <div class="servicos" id="servicos">
                    <figure><img src="/static/img/caixas.png" alt="expedicao"></figure>
                    <a href="/expedicao">
                    <div class="descricao">
                        <img src="/static/img/expedicao.png" alt="">
                    </div>
                    </a>
                </div>
            {% endif %}
        </div>  
    </div>
    <!-- Fim da seção de cards -->

    <!-- Início da seção de mensagem do professor -->

    {% if "usuario_logado" in session %}
    <div class="container-mensagem_professor">

        <div class="mensagem1">
            
            <div class="mensagem">
                {% for mensagem in lista_mensagens %}
                <br>
                <p>{{mensagem['mensagem']}}</p>
                {% endfor %}
            </div>
            
        </div>

    </div>
    {% endif %}
    <!-- Fim da seção de mensagem do professor -->

</section>

<!-- Fim da seção geral -->

{% endblock %}