<!-- EXTENDENDO O CSS DA PAGINA PRINCIPAL (LAYOUT) -->
{% block css %}
    
    <link rel="stylesheet" href="/static/styles/pagina-inicial.css">
    <link rel="stylesheet" href="/static/styles/media/pagina-inicial-media.css">
    <link rel="stylesheet" href="/static/styles/media/layout-media.css">
    <link rel="stylesheet" href="/static/styles/variaveis.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Unlock&display=swap" rel="stylesheet">
{% endblock %}

{% extends "layout.html" %}
{% block conteudo %}

<!-- Início da seção geral -->
<section class="container-geral">

    <!-- Início da seção principal -->
    <div class="container-principal">

        <!-- Título da página -->
        <div class="titulo-destaque">
            <span class="part1">LOG</span>
            <span class="part2">CLASS</span>
        </div>

        <div class="container-grid"></div>
    
    </div>
    <!-- Fim da seção principal -->
    
    <!-- Início da seção de cards -->
    <div class="container-cards">
        <div class="c-galeria">

            <!-- Card: Processo de cadastramento -->
            <div class="servicos">
                <figure><img src="/static/img/caixas.png" alt="Processo de cadastramento"></figure>
                <a href="/cadastramento">
                <div class="descricao">
                    <img src="/static/img/caixa_cad.png" alt="">
                </div>
                </a>
            </div>


                <div class="servicos">
                    <figure><img src="/static/img/caixas.png" alt="Não conformidade"></figure>
                    <a href="/rnc">
                    <div class="descricao">
                        <img src="/static/img/rnc.png" alt="">
                    </div>
                    </a>
                </div>


                <div class="servicos">
                    <figure><img src="/static/img/caixas.png" alt="Picking"></figure>
                    <a href="/picking">
                    <div class="descricao">
                        <img src="/static/img/picking.png" alt="">
                    </div>
                    </a>
                </div>
                
        
                <div class="servicos">
                    <figure><img src="/static/img/caixas.png"></figure>
                    <a href="/estoque">
                    <div class="descricao">
                        <img src="/static/img/estoque.png" alt="">
                    </div>
                    </a>
                </div>

                <div class="servicos">
                    <figure><img src="/static/img/caixas.png" alt="pop"></figure>
                    <a href="/pop">
                    <div class="descricao">
                        <img src="/static/img/pop.png" alt="">
                    </div>
                    </a>
                </div>

                <div class="servicos">
                    <figure><img src="/static/img/caixas.png" alt="expedicao"></figure>
                    <a href="/expedicao">
                    <div class="descricao">
                        <img src="/static/img/expedicao.png" alt="">
                    </div>
                    </a>
                </div>

        </div>  
    </div>
    <!-- Fim da seção de cards -->

    <!-- Início da seção de mensagem do professor -->
    <div class="container-mensagem_professor">

        <div class="mensagem">
            <h2> Mensagem do Professor </h2>
            <!-- Campo "Mensagem" -->
            <input type="text" placeholder="Mensagem do Professor" class="input-field" name="mensagem">
        </div>

    </div>
    <!-- Fim da seção de mensagem do professor -->

</section>
<!-- Fim da seção geral -->

{% endblock %}