<!-- EXTENDENDO O CSS DA PAGINA PRINCIPAL (LAYOUT) -->
{% block css %}
<link rel="stylesheet" href="/static/styles/picking.css">
<link rel="stylesheet" href="/static/styles/media/picking-media.css">
<link rel="stylesheet" href="/static/styles/media/layout-media.css">
<link rel="stylesheet" href="/static/styles/variaveis.css">
{% endblock %}

{% extends "layout.html" %}
{% block conteudo %}

<!-- LINK PARA O JAVASCRIPT(FUNCIONALIDADE) -->
<script src="/static/js/picking.js" defer></script>

<section class="geral-cadastramento">
    <div class="container-cadastramento">
        <div class="cadastramento-titulo">
            <span class="cadastramento1"> PICKING </span>
        </div>
        <div class="container-img"></div>
    </div>

    <!-- Status do Produto -->
    <section class="formulario">
        <div class="tracking-container">
            <p class="status">Status do Produto</p>
            <div class="tracking-steps">
                <div class="step active">
                    <div class="icon-box">
                        <i class="fa-solid fa-box-open"></i>
                    </div>
                    <p>Produto em Mãos</p>
                </div>
                <div class="step active">
                    <div class="icon-box">
                        <i class="fa-regular fa-clipboard"></i>
                    </div>
                    <p>Cadastramento</p>
                </div>
                <div class="step">
                    <div class="icon-box">
                        <i class="fa-regular fa-note-sticky"></i>
                    </div>
                    <p>Separação</p>
                </div>
                <div class="step">
                    <div class="icon-box">
                        <i class="fa-solid fa-truck-fast"></i>
                    </div>
                    <p>Concluído!</p>
                </div>
            </div>
        </div>
    </section>

    <section class="container-tabela">
        <h2>Produtos Cadastrados</h2>
        <a href="/inventario" class="botao-inventario">Abrir Inventário</a>
    </section>

    <div class="formulario">
        <div class="form_container">
            <form action="/picking" method="POST">
                <!-- Campo "Código do Produto" -->
                <input type="number" placeholder="Código do Produto" class="input-field" id="codigoProduto" name="codProd">

                <!-- Campo "Endereçamento" -->
                <input type="text" placeholder="Endereçamento" class="input-field" id="enderecamentoProduto" name="enderecamento">

                <!-- Campo "Descrição Técnica" -->
                <textarea placeholder="Descrição Técnica" class="textarea-field" id="descricaoProduto" name="descTec"></textarea>

                <input list="browsers" name="modeloPick" placeholder="Modelo do Produto" id="modeloProduto" class="input-field">

                <!-- Campo "Fabricante" -->
                <input type="text" placeholder="Fabricante" class="input-field" id="fabricanteProduto" name="fabri">

                <!-- Campo "Quantidade" -->
                <input type="text" placeholder="Quantidade" class="input-field" id="quantidadeProduto" name="qtde">

                <!-- Campo "Data" -->
                <input type="date" placeholder="Data:" class="input-field" name="data">
                
                <!-- Campo "lote" -->
                <input type="text" placeholder="Lote" class="input-field" id="numeroLote" name="lote">

                <!-- Campo "número de Picking" -->
                <input type="number" placeholder="Número de Picking" class="input-field" name="numPicking">

                <!-- Campo "Total de produtos Separados" -->
                <input type="number" placeholder="Total de produtos Separados" class="input-field" name="totalProd">
                
                <!-- Botão de Enviar -->
                <button class="submit-btn">Enviar</button>
            </form>
        </div>

        <div class="botoes">
            <a href="/simulador" class="botao-simulador">Ir para Simulador</a>
        </div>
    </div>
</section>


<script>
    document.addEventListener("DOMContentLoaded", function() {
        const produtos = {{ lista_produtos | tojson }};
    
        const codigoInput = document.getElementById("codigoProduto");
    
        codigoInput.addEventListener("input", function() {
            const codigoDigitado = codigoInput.value.trim();
            
            const produto = produtos.find(p => p.codigo === codigoDigitado);
            
            if (produto) {
                document.getElementById("descricaoProduto").value = produto.descricao;
                document.getElementById("modeloProduto").value = produto.modelo;
                document.getElementById("fabricanteProduto").value = produto.fabricante;
                document.getElementById("numeroLote").value = produto.numero_lote;
                document.getElementById("enderecamentoProduto").value = produto.enderecamento;
                document.getElementById("quantidadeProduto").value = produto.quantidade;
            }
        });
    });
</script>
    
    

{% endblock %}
