<!-- EXTENDENDO O CSS DA PAGINA PRINCIPAL (LAYOUT) -->
{% block css %}
<link rel="stylesheet" href="/static/styles/rnc.css">
<link rel="stylesheet" href="/static/styles/media/rnc-media.css">
<link rel="stylesheet" href="/static/styles/media/layout-media.css">
<link rel="stylesheet" href="/static/styles/variaveis.css">

{% endblock %}

{% extends "layout.html" %}
{% block conteudo %}


<!-- LINK PARA O JAVASCRIPT(FUNCIONALIDADE)   -->
<script src="/static/js/rnc.js" defer></script>


<section class="geral-cadastramento">

    <div class="container-cadastramento">

        <div class="cadastramento-titulo">
            <span class="cadastramento2"> RNC </span>
        </div>

        <div class="container-img"></div>
    </div>

    <section class="container-tabela">
        <h2>Produtos Cadastrados</h2>
        <table>
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Descrição</th>
                    <th>Modelo</th>
                    <th>Fabricante</th>
                    <th>Número do Lote</th>
                    <th>Endereçamento</th>
                </tr>
            </thead>
            <tbody>
                {% for produto in lista_produtos %}
                <tr>
                    <td>{{ produto['codigo'] }}</td>
                    <td>{{ produto['descricao'] }}</td>
                    <td>{{ produto['modelo'] }}</td>
                    <td>{{ produto['fabricante'] }}</td>
                    <td>{{ produto['numero_lote'] }}</td>
                    <td>{{ produto['enderecamento'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>


    <div class="formulario">

        <div class="form_container">

            <form action="/rnc" method="POST">
           
                <!-- Campo "Recebido em" -->
                <input type="date" placeholder="Recebido em:" class="input-field" name="date">

                <!-- Campo "Número da RNC" -->
                <input type="text" placeholder="Número da RNC" class="input-field" name="numRNC">

                <!-- Campo "Número do Código do Produto" -->
                <input type="text" placeholder="Código do Produto" class="input-field" name="codProd">

                <!-- Campo "Local" -->
                <input type="text" placeholder="Local" class="input-field" name="local">

                <!-- Campo "Quantidade entregue" -->
                <input type="text" placeholder= "Quantidade Entregue" class="input-field" name="qtdentregue">

                <!-- Campo "Quantidade Reprovada" -->
                <input type="text" placeholder="Quantidade Reprovada" class="input-field" name="qtdrepro">

                <!-- Campo "Descrição da RNC" -->
                <textarea placeholder="Descrição da RNC" class="textarea-field" name="descRNC"></textarea>

                <!-- Campo "Responsável pela inspeção" -->
                <input type="text" placeholder="Responsável pela inspeção" class="input-field" name="respInsp">

                <!-- Botão de Enviar -->
                <button class="submit-btn">Enviar</button>

            </form>
        </div>

    </div>
    
</section>


{% endblock %}