@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');


body{
    background-color: var(--cor-fundo-pg-funcoes);
    overflow-x: hidden;
}

.geral-cadastramento{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container-cadastramento{
    margin-top: 10rem;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    gap: 5rem;
}

.cadastramento-titulo span{
    font-size: 3.5rem;
    margin-left: 0.5rem;
    opacity: 0.7;
}

.container-img {
    width: 12rem;
    height: 25rem;
    background: var(--cor-icone-cadastramento);
    filter: blur(3rem);
    margin-right: 10rem;
    border-radius: 2.5rem;
  }


.formulario{
    margin: 9rem 38rem;
}
  
.form_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30rem;
    padding: 20px;
    border-radius: 8px;
    
}

.input-field, .textarea-field, .select-menu, .submit-btn {
    width: 100%;
    margin-bottom: 15px;
    padding: 12px;
    font-size: 16px;
    border: 1px solid var(--cor-bordas);
    border-radius: 4px;
    background-color: var(--cor-fundo-formularios);
}

.textarea-field {
    height: 100px;
    resize: none;
}

.select-menu {
    position: relative;
}

.select-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.select-btn i {
    font-size: 20px;
    transition: 0.3s;
}

.select-menu.active .select-btn i {
    transform: rotate(-180deg);
}

.options {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 0;
    list-style: none;
    background-color: var(--cor-fundo-options);
    border: 1px solid var(--cor-bordas);
    border-radius: 4px;
    max-height: 150px;
    overflow-y: auto;
    display: none;
}

.select-menu.active .options {
    display: block;
    z-index: 10;
}

.option {
    padding: 10px;
    cursor: pointer;
}

.option:hover {
    background-color: var(--cor-hover-options);
}

.submit-btn {
    background-color: var(--cor-btn-enviar);
    color: var(--cor-padrao-letras);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-btn:hover {
    background-color:var(--cor-hover-btn-enviar);
}



/* Estilização da verificação do processo */
.tracking-container{
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 20px;
    max-width: 500px;
    text-align: center;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 4.5rem;
}

.status{
    font-weight: bold;
    color: #2f855a;
    margin-bottom: 20px;
    text-align: center;
}

.tracking-steps {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.step{
    text-align: center;
    color: #c0c0c0;
}

.step.active{
    color: #2f855a;
}

.icon-box{
    font-size: 30px;
    margin-bottom: 10px;
}

.step p{
    margin-top: 0;
    font-size: 14px;
}

.step.active .icon-box{
    color: #2f855a;
}

.step:not(.active) .icon-box{
    color: #c0c0c0;
}

.step.active + .step::before{
    background-color: #2f855a;
}

.alert{
    display: none;
    position: fixed;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
    justify-content: center;
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    border-radius: 5px;
    position: relative;
    z-index: 1000;
    text-align: center;
    width: 90%;
    max-width: 500px;
}

.alert-icon{
    margin-right: 10px;
    font-size: 20px;
}

.alert-text{
    font-size: 16px;
}