*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  list-style: none;
  font-size: 1rem;
  text-decoration: none;
}

/* ****************************** padronização/ estilização MENU ************************************ */

/* Estilização do cabeçalho */
.header-container{
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #E8D3B6;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  
}

/* Estilização da imagem do logo */
.header-container img{
  max-width: 11rem;
  max-height: 13rem;
  border-radius: 100%;
  margin-top: 4rem;
}

/* Estilização do botão de dropdown */
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    margin-right: 6rem;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-right: 1rem;
    right: 0;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {
    display: block;
    
  }

/* ****************************** Padronização/ estilização RODAPÉ ************************************ */

/* Estilização do rodapé */
footer{
    width: 100vw;
    height: 4vh;
    background-color: #000000;
    position: fixed;
    bottom: 0;
    left: 0;
    color: #ffffff;
    /* text-align: center; */
    display: flex;
    /* justify-content: center;
    align-items: center; */
}

footer p{
  margin-left: 2rem;
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 700;
  font-style: normal;
  margin-top: 0.5rem;
}