body {
    margin: 0;
    padding: 0;
    display: flex;
    background-color: var(--cor-fundo-pg-funcoes);
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.gerenciador{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gerenciador h2{
    font-size: 3.5rem;
    margin-bottom: 4rem;
}

.gerenciador table{
    width: 80%;
    border: 0.2rem solid var(--cor-bordas);
    background: var(--cor-fundo-formularios);
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 0.2rem solid var(--cor-bordas);
    color: black;
}

td{
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
    padding: 1rem;
}

.btn-submit{
    background-color: var(--cor-btn-enviar);
    color: var(--cor-fundo-options);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    padding: 1rem;
    border-radius: 2rem;
}

.btn-submit:hover {
    background-color: var(--cor-hover-btn-enviar);
}