body {
    margin: 0;
    padding: 0;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(53,51,205,1) 100%);
    font-family: Arial, sans-serif;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.header, .login-prompt {
    height: 350px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    background: rgb(0,74,173);
    background: radial-gradient(circle, rgba(0,74,173,1) 0%, rgba(60,39,98,1) 100%);
}

.header h2 {
    margin-top: 26px;
    font-size: 24px;
    color: #fff;
}

.login-prompt h3 {
    margin-top: 35px;
    font-size: 25px;
    color: #fff;
}

.signup-btn, .login-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #0368D4;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    height: 65px;
    width: 70%;
}

.signup-btn {
    margin-top: 40px;
}

.register-box, .connect-box {
    background: rgb(0,74,173);
    background: radial-gradient(circle, rgba(0,74,173,1) 0%, rgba(60,39,98,1) 100%);
    border-radius: 10px;
    padding: 30px;
    width: 300px;
    text-align: center;
}

.register-box h2, .connect-box h2 {
    margin-bottom: 20px;
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    padding: 10px;
    width: 97%;
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: #003772;
    color: #fff;
}

button[type="submit"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #0368D4;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    width: 97%;
}

.signup-link {
    display: block;
    margin-top: 10px;
    color: #0368D4;
    text-decoration: none;
}

.account-type {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #0368D4;
    color: #fff;
    font-weight: bold;
    width: 100%;
    margin-top: 10px;
    cursor: pointer;
}

.select-menu {
    position: relative;
    margin-bottom: 15px;
}

.select-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #003772;
    color: #686868;
    cursor: pointer;
    border-radius: 5px;
    width: 90%;
}

.select-btn i {
    font-size: 15px;
    transition: 0.3s;
}

.select-menu.active .select-btn i {
    transform: rotate(-180deg);
}

.options {
    position: absolute;
    top: 100%;
    left: 0;
    width: 80%;
    padding: 0;
    list-style: none;
    background-color: #0b004d;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-height: 150px;
    overflow-y: auto;
    display: none;
}

.select-menu.active .options {
    display: block;
    z-index: 10;
}

.option {
    padding: 10px;
    cursor: pointer;
}

.option:hover {
    background-color: #696969;
}

.logo-image {
    margin-top: 50px;
    width: 200px; 
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.login-btn {
    background-color: #0368D4;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    font-weight: bold;
    cursor: pointer;
}

#register-aluno, #register-professor {
    display: none;
}
.active {
    display: block;
}

#login-existente-box {
    background: rgb(0,74,173);
    background: radial-gradient(circle, rgba(0,74,173,1) 0%, rgba(60,39,98,1) 100%);
    border-radius: 10px;
    padding: 30px;
    width: 300px;
    text-align: center;
    margin: 0 auto;
}

#login-existente-box h2 {
    margin-bottom: 20px;
    font-weight: bold;
}

#login-existente-box form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#email-login, #senha-login {
    padding: 10px;
    width: 90%;
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: #003772;
    color: #fff;
}

#login-existente-btn {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #0368D4;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.signup-link {
    display: block;
    margin-top: 10px;
    color: #0368D4;
}

.register-box, .login-box, .connect-box {
    background: radial-gradient(circle, rgba(0,74,173,1) 0%, rgba(60,39,98,1) 100%);
    border-radius: 10px;
    padding: 30px;
    width: 300px;
    text-align: center;
    display: none;
}

.connect-box h2, .login-box h2, .register-box h2 {
    margin-bottom: 20px;
    font-weight: bold;
}

.voltar-btn {
    display: block;
    width: 97%;
    padding: 10px;
    margin-top: 3px; 
    border: none;
    border-radius: 5px;
    color: #fff;
    font-weight: 5rem;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

