

body {
    margin: 0;
    padding: 0;
    background: rgb(0,0,0);
    background: var( --cor-fundo-login);
    color: var(--cor-padrao-letras);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    
}
  


.titulomensagem h2{

    margin-bottom: 5rem;
    font-size: 3rem;  
}

.mensagem{
    display: flex;
    justify-content: space-around;
    align-items: center;

}


input {
    padding: 1rem;
    width: 100%;
    border: none;
    border-radius: 0.5rem;
    outline: none;
    background-color: var(--cor-fundo-prof);
    color: var(--cor-padrao-letras);
    margin-bottom: 2rem;
    text-align: center;
}


button[type="submit"] {
    padding: 1rem;
    border: none;
    border-radius: 0.5rem;
    background-color: var(--cor-btns);
    color: var(--cor-padrao-letras);
    font-weight: bold;
    cursor: pointer;
    width: 100%;
}