body {
    margin: 0;
    padding: 0;
    color: var(--cor-padrao-letras);
    height: 100vh;
}

.cadastro_turma{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
  

.titulomensagem h2{
    margin-bottom: 5rem;
    font-size: 3rem;  
}


input {
    padding: 1rem;
    width: 97%;
    border: none;
    border-radius: 0.5rem;
    outline: none;
    background-color: var(--cor-drop-btn);
    color: var(--cor-padrao-letras);
    margin-bottom: 2rem;
}

input::placeholder{
    color: var(--cor-padrao-letras);
}



button[type="submit"] {
    padding: 1rem;
    border: none;
    border-radius: 0.5rem;
    background-color: var(--cor-btn-enviar);
    color: var(--cor-padrao-letras);
    font-weight: bold;
    cursor: pointer;
    width: 100%;
}
