:root{

    /* Cores padrões de Letras  */
    --cor-padrao-letras:#ffffff;

    /* Cores do cabecalho */
    --cor-drop-btn:#2980B9;
    --cor-drop:#f1f1f1;
    --cor-drop-letras:black;
    --cor-drop-hover: #ddd;
    --cor-sombra-drop:rgba(0,0,0,0.2);
    
    
    /* Cores do footer */
    --cor-footer:#000000;

    
    /* Cores da página inicial */
    --cor-pagina-inicial:rgba(255,255,255,1);
    --cor-titulo1-pgInicial:#6a00c2;
    --cor-titulo2-pgInicial:#0071c2;
    --cor-msg-professor:#000000;
    --cor-card-mensagem:hsl(217, 100%, 90%) ;


    /* Cores do login */
    --cor-fundo-login:linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(53,51,205,1) 100%);
    --cor-cards-pgLogin:radial-gradient(circle, rgba(0,74,173,1) 0%, rgba(60,39,98,1) 100%);
    --cor-btns:#0368D4;
    --cor-fundo-inputs:#003772;
    --cor-fundo-prof:#0a396b;

    /* Cores das páginas de funcionais */
    --cor-titulos:#000;
    --cor-fundo-pg-funcoes:#e5e5e5;
    --cor-bordas: #ccc;
    --cor-fundo-formularios:#f9f9f9;
    --cor-fundo-options:#fff;
    --cor-hover-options:#f0f0f0;
    --cor-btn-enviar:#6a1b9a;
    --cor-hover-btn-enviar: #4a148c;

    /* Cor do icone de Cadastramento */
    --cor-icone-cadastramento:linear-gradient(to bottom , #ff217d, #ff8b98);


}